:root{
    --branco-principal:#FFFFFF;
    --cinza-secundario:#C0C0C0;
    --botao-azul:#167BF7;
    --cor-de-fundo:#00030C;
    --fonte-principal:'Inter';
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size:16px;
    }
*{
    margin:0;
    padding:0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:var(--branco-principal);
}
.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size:contain;
    align-items: center;
    text-align: center;
}
.container{
    height:100vh;
    display:grid;
    grid-template-columns: 50% 50%;
}
.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding:1em;
    display:block;
    text-decoration: none;
    margin-bottom:1em;
    color:var(--branco-principal)
}
.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    
}
.container__aviso{
    font-size:12px;
    color:var(--cinza-secundario);
    
}
.container__titulo{
    font-size:28px;
    font-weight:700;
}
.container__imagem{
    margin:1em 0 2em 0;
}
.container__box{
    margin:0 6em;
}
.secundario{
    align-items: center;
    margin:0 10em;

}
.secundario__imagem{
    width:80%;
}
.descricao__titulo{
    font-weight: 700;
    font-size:48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}
.descricao__texto{
    color:var(--cinza-secundario);
}
.secundario__botao{
    display:inline-block;
    margin-top:1em;
}
.container__descricao {
    padding: 2em;
}
.dispositivos__lista{
    display:flex;
    justify-content:center;
    margin:5em 0;
}
.dispositivos{
    text-align: center;
}
.dispositivos__titulo{
    font-size: 48px;
    color: var(--branco-principal);
    
}
.lista__item{
    font-size:32px;
    color: var(--branco-principal);
}
.rodape__lista{
    display: flex;
    justify-content: center;
}
.rodape{
    text-align: center;
    margin:10em 0;
}
.lista__link{
    font-size: 16px;
    margin:1.5em 1em 0 0;
}
.rodape__texto{
  font-size: 14px;
  color:var(--cinza-secundario);
  text-align: center;
  margin-top:2em;
}